<div class="jumbotron">
  <h1></h1>
  <p class="lead">
    <img src="" alt=""><br>
    
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="#/">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </p>
</div>

<div class="row marketing">
  <div data-ng-repeat="image in images">
    <h4>Image {{ $index + 1 }}</h4>
    <img data-ng-src="{{ 'data:' + (image | mimetype ) + ';base64,' + image }}" />
    <p>Mimetype: {{ image | mimetype }}</p>
    <pre>Base64: {{ image | json }}</pre>
  </div>

  <div>
    <h4>Upload your own file</h4>
    <p>
      <form name="test">
        <label for="file">Select a file</label>
        <input type="file" fileread="file" id="file" name="file" />
      </form>
    </p>
    <p data-ng-if="file">
      <h4>Uploaded image</h4>
      <p>Mimetype: {{ file | mimetype }}</p>
      <pre>Base64: {{ file | json }}</pre>
    </p>
  </div>
</div>
