<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">Author</div>
  <div class="col-xs-12 col-sm-6 col-md-4"><span data-ng-bind="about.author">&nbsp;</span></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">Application/Plugin name</div>
  <div class="col-xs-12 col-sm-6 col-md-4"><span data-ng-bind="about.appName">&nbsp;</span></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">Application/Plugin description</div>
  <div class="col-xs-12 col-sm-6 col-md-4"><span data-ng-bind="about.appDescription">&nbsp;</span></div>
</div>